body
{
  color: rgb(0, 0, 0);
  background: rgb(50, 217, 139);
}
.heading
{
  width: 80%;
  font-size: 22px;
}
#camera 
{
  border: 2px dashed rgb(20, 158, 192);
  width: 350px;
  height: 300px; 
}
.nameOfObjects, #resultObjectName  , #resultObjectAccuracy
{
  color: rgb(3, 58, 6);
}